.navigation {

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 50%;
    position: fixed;
    top: 5.5rem;
    right: 5.5rem;
    z-index: 200;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    text-align: center;
    cursor: pointer;

    @include respond(phone) {
      height: 4rem;
      width: 4rem;
      top: 1.5rem;
      right: 2.9rem;
    }
  }

  &__background {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    z-index: 100;
    
    // transform: scale(80);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    @include respond(phone) {
      height: 3.5rem;
      width: 3.5rem;
      top: 1.6rem;
      right: 3rem;
    }
  }

  &__nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;

    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.256, 1.55);
  }

  &__list {
    @include center-h-v;
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {

    &:link,
    &:visited {
      display: inline-block;
      font-size: 2.7rem;
      color: $color-white;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0 1.5rem;
      background-size: 220%; // increase this number will move away the solid gradient background
      background-image: linear-gradient(120deg, 
        transparent 0,
        transparent 50%,
        $color-white 50%
      );
      transition: all 0.5s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(-1rem);
    }
  }

  &__checkbox:checked~&__background {
    transform: scale(80);
  }

  &__checkbox:checked~&__nav {
    opacity: 1;
    width: 100%;
  }

  &__icon {
    position: relative;
    margin-top: 3.2rem;

    @include respond(phone) {
      margin-top: 2.1rem;
    }

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-gray-dark-3;
      display: inline-block;

      @include respond(phone) {
        width: 2.5rem;
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
      @include respond(phone) {
        top: -0.7rem;
      }
    }

    &::after {
      top: 0.8rem;
      @include respond(phone) {
        top: 0.7rem;
      }
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked+&__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked+&__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked+&__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}