// colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-white: #fff;
$color-black: #000;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

// grids
$grid-width: 100rem;
$gutter-verticle: 8rem;
$gutter-verticle-small: 6rem;
$gutter-horizontal: 6rem;

// font
$font-size-default: 1.6rem;