// colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;
$color-gray-light-1: #f7f7f7;

// grids
$grid-width: 100rem;
$gutter-verticle: 8rem;
$gutter-horizontal: 6rem;

// font
$font-size-default: 1.6rem;