.btn {
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $font-size-default;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active { /* clicked */
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &--white {
    background-color: $color-white;
    color: $color-gray-dark;

    &::after {
      background-color: $color-white;
      color: $color-gray-dark;
    }
  }

  &--animated {
    animation-name: moveInUp;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0.75s;
    animation-fill-mode: backwards; /* at beginning stage, the element at 0% state */
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 1s;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    font-size: $font-size-default;
    transition: all 0.2s;
  }

  &:hover {
    color: $color-white;
    background-color: $color-primary;
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
  }

  &:active {
    transform: translateY(-0.1rem);
  }
}
