.composition {
  position: relative;
  &__photo {
    width: 55%; // flexable images for responsive
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.2s;
    outline-offset: 1.2rem;

    @include respond(tab-port) {
      position: relative;
      float: left;
      width: 33.33333%;
      box-shadow: 0 1.5rem 2.5rem rgba($color-black, 0.2);
    }

    &--p1 {
      left: 0;
      top: -2rem;
      z-index: 10;
      
      @include respond(tab-port){
        top: 0;
        transform: scale(1.2);
        z-index: 200;
      }
    }
    
    &--p2 {
      right: 0;
      top: 2rem;
      z-index: 10;

      @include respond(tab-port){
        top: -1rem;
        transform: scale(1.3);
        z-index: 300;
      }
    }

    &--p3 {
      left: 20%;
      top: 10rem;
      z-index: 10;

      @include respond(tab-port){
        left: 1rem;
        top: 0;
        transform: scale(1.1);
        z-index: 100;
      }
    }

    &:hover {
      outline: 1.2rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.8);
      z-index: 20;
    }
  }

  // unselected photos will all shrink
  &:hover &__photo:not(:hover) { // .composition:hover .composition__photo:not(hover)
    transform: scale(0.9);
  }
}