.story {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.15);
  background-color: rgba($color-white, 0.6);
  border-radius: 0.3rem;
  padding: 5rem;
  padding-left: 7.5rem;
  font-size: $font-size-default;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 4rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  &__shape {
    height: 12rem;
    width: 12rem;
    position: relative;
    float: left;
    transform: translateX(-2rem) skewX(12deg);
    // overflow: hidden;
    border-radius: 50%;

    @supports (-webkit-clip-path: circle(50% at 50% 50%)) or (clip-path: circle(50% at 50% 50%)) {
      -webkit-shape-outside: circle(50% at 50% 50%); // must be floated, and has width and height
      shape-outside: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      border-radius: none;
    }
    

    @include respond(phone) {
      transform: translateX(0) skewX(0);
      float: none;
      margin: 0 auto;
    }
  }

  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.1);
    // transition: all 0.5s;
    // backface-visibility: hidden;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      margin-top: 2rem;
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    backface-visibility: hidden; // remove the shaking glich
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(75%);
  }
}
