
*,
*::before,
*::after { /* global reset */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html { // defines 1 rem
  /* rem not work below ie9 */
  /* font-size: 10px; easier to calculate but bad practice */
  font-size: 62.5%; /* 10(target) / 16(browser default) this allows user to zoom in/out */
  
  // large -> small (desktop first)
  // small -> large (mobile first)
  @include respond(big-desktop) { // > 1800
    font-size: 75%; // 1rem = 12px; 12 / 16 = 75%;
  }

  @include respond(tab-land) { // width < 1200 ?
    font-size: 56.25%; // 1rem = 9px; 9 / 16 = 56.25%
  }

  @include respond(tab-port) { // width < 900
    font-size: 50%; // 1rem = 8px; 8 / 16 = 50%
  }

  @include respond(phone) { // width < 600
    font-size: 50%; // 
  }
}

body {
  box-sizing: border-box;
}

