.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 19rem 0;
  }
}

.section-features {
  margin-top: -7rem;
  padding: 20rem 0;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),  
    rgba($color-primary-dark, 0.8)
    ), url("../img/nat-4.jpg");
  background-size: cover;

  @include respond(tab-port) {
    padding: 10rem 7rem;
  }

  @include respond(phone) {
    padding: 10rem 2rem;
  }

  transform: skewY(-7deg);

  &>* { // everything which are direct child of this class
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-gray-light-1;
  padding: 25rem 0 13rem 0;
  margin-top: -7rem;

  @include respond(tab-port) {
    padding: 20rem 7rem 10rem 7rem;
  }

  @include respond(phone) {
    padding: 20rem 0rem 4rem 0rem;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 13rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
      ),
    url("../img/nat-10.jpg");
  background-size: cover;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  
  height: 40rem;
}

.form {
  width: 65%;
  padding: 2rem;
}